#bg
  %div
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %td
          %img{:alt => "", :src => "images/background.jpg"}/
#outside_wrapper
  #salon_italy
    #logo
      %p salondirect.dk
    #suppliers
      %p osmo
      %p z.one
      %p system4
  #bottom
    #bottom_menu
      %span Om os
      %span Produkter
      %span Kontakt
    #bottom_info
      %table.left
        %tr
          %td Henrik Heiberg
          %td +45 21 14 07 57
          %td
            %a.mail_to{:href => "mailto:henrik@salondirect.dk"} henrik@salondirect.dk
        %tr
          %td Mads Skovby
          %td +45 24 24 16 57
          %td
            %a.mail_to{:href => "mailto:mads@salondirect.dk"} mads@salondirect.dk
        %tr
          %td Kim Gyldholm
          %td +45 61 13 70 00
          %td
            %a.mail_to{:href => "mailto:kim@salondirect.dk"} kim@salondirect.dk
      %table.right
        %tr
          %td.company salondirect.dk
        %tr
          %td Rudolfsgårdsvej 3 • 8260 Viby J • CVR: 34230307