


<div id="salon_italy">
	<!-- <a href="http://www.salonitaly.com/">Salon Italy</a> -->
	<p class="opbygning">-- Vi er under opbygning, så her er det mest nødvendige -- </p><br>
	
	<a href="http://www.osmo.uk.com/">salondirect.dk</a>
	<p class="adresse">
		Rudolfsgårdsvej 3<br>
		8260 Viby J<br>
		CVR: 34230307
	</p>		
	<p class="kontakt">Kontakt</p>
	
	<p class="landsdel">Sjælland</p>
	<p class="adresse">
		Henrik Heiberg<br>
		+45 21 14 07 57<br>
		<a href="mailto:henrik@salondirect.dkn" class="mail_to">henrik@salondirect.dk</a>
		
	</p>
	<p class="landsdel">Jylland/Fyn</p>
	<p class="adresse">
		Kristian Rasmussen<br>
		+45 24 24 16 57<br>
		<a href="mailto:kristian@salondirect.dkn" class="mail_to">kristian@salondirect.dk</a>
	</p>
	
	<p class="link_til">Link til</p>
	<a href="http://www.osmo.uk.com/" class="link">osmo.uk.com</a>


</div>