#bg
  %div
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %td
          %img{:alt => "", :src => "images/background.jpg"}/
#salon_italy
  #name
  %p.opbygning -- Hjemmesiden er under opbygning og udvikles løbende. --
  %p.opbygning
    salondirect.dk er et nystartet firma i frisørbranchen.
    %br/
    Det er så også det eneste som er nyt.
    %br/
    %br/
    Produkt programmet kender mange efter
    %br/
    at have været en del år på markedet i Danmark.
    %br/
    %br/
    Bag salondirect.dk står et par rutinerede fyre
    %br/
    med solid branche kendskab og tilsammen mere end
    %br/
    25 års erfaring med salg af frisørartikler.
  %br/
  %a{:href => "http://www.osmo.uk.com/"} salondirect.dk
  %p.adresse
    Rudolfsgårdsvej 3
    %br/
    8260 Viby J
    %br/
    CVR: 34230307
  %p.kontakt Kontakt
  %p.adresse
    Henrik Heiberg
    %br/
    +45 21 14 07 57
    %br/
    %a.mail_to{:href => "mailto:henrik@salondirect.dkn"} henrik@salondirect.dk
  %p.adresse
    Mads Skovby
    %br/
    +45 24 24 16 57
    %br/
    %a.mail_to{:href => "mailto:mads@salondirect.dkn"} mads@salondirect.dk
  %p.adresse
    Kim Gyldholm
    %br/
    +45 61 13 70 00
    %br/
    %a.mail_to{:href => "mailto:kim@salondirect.dkn"} kim@salondirect.dk
  %p.link_til Link til
  %a.link{:href => "http://www.osmo.uk.com/"} osmo.uk.com
  %p.link_til PDF med info om No Inhibition
  %a.pdf_link{:href => "/images/No_Inhibition.pdf"} No_Inhibition.pdf
  %p.link_til PDF med info om Simply Zen
  %a.pdf_link{:href => "/images/Simply_Zen.pdf"} Simply_Zen.pdf
  %p.link_til PDF med info om Milk Shake
  %a.pdf_link{:href => "/images/Milk_Shake.pdf"} Milk_Shake.pdf