<div id="bg">
	<div>
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<img src="images/background.jpg" alt=""/>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="salon_italy">
	<!-- <a href="http://www.salonitaly.com/">Salon Italy</a> -->
	<p class="opbygning">-- Hjemmesiden er under opbygning og udvikles løbende. -- </p>

	<p class="opbygning">
		salondirect.dk er et nystartet firma i frisørbranchen.<br> 
		Det er så også det eneste som er nyt.<br><br>
		Produkt programmet kender mange efter<br>
		at have været en del år på markedet i Danmark.<br><br>
		Bag salondirect.dk står et par rutinerede fyre<br>
		med solid branche kendskab og tilsammen mere end<br>
		25 års erfaring med salg af frisørartikler.  
	</p>
	<br>
	
	<a href="http://www.osmo.uk.com/">salondirect.dk</a>
	<p class="adresse">
		Rudolfsgårdsvej 3<br>
		8260 Viby J<br>
		CVR: 34230307
	</p>		
	<p class="kontakt">Kontakt</p>
	
	<!-- <p class="landsdel">Sjælland</p> -->
	<p class="adresse">
		Henrik Heiberg<br>
		+45 21 14 07 57<br>
		<a href="mailto:henrik@salondirect.dkn" class="mail_to">henrik@salondirect.dk</a>
	</p>

	<!-- <p class="landsdel">Jylland/Fyn</p> -->
	<p class="adresse">
		Mads Skovby<br>
		+45 24 24 16 57<br>
		<a href="mailto:mads@salondirect.dkn" class="mail_to">mads@salondirect.dk</a>
	</p>

	<!-- <p class="landsdel">Jylland/Fyn</p> -->
	<p class="adresse">
		Kim Gyldholm<br>
		+45 61 13 70 00<br>
		<a href="mailto:kim@salondirect.dkn" class="mail_to">kim@salondirect.dk</a>
	</p>

	
	<p class="link_til">Link til</p>
	<a href="http://www.osmo.uk.com/" class="link">osmo.uk.com</a>

	<p class="link_til">PDF med info om No Inhibition</p>
	<a href="/images/No_Inhibition.pdf" class="pdf_link">No_Inhibition.pdf</a>

	<p class="link_til">PDF med info om Simply Zen</p>
	<a href="/images/Simply_Zen.pdf" class="pdf_link">Simply_Zen.pdf</a>

	<p class="link_til">PDF med info om Milk Shake</p>
	<a href="/images/Milk_Shake.pdf" class="pdf_link">Milk_Shake.pdf</a>


</div>