html, body, #bg, #bg table, #bg td {
    height:100%;
    width:100%;
    overflow:hidden;
}


#bg {
    position: fixed;
	margin-top: 0px;
}

#bg div {
    height:200%;
    left:-50%;
    position:absolute;
    top:-50%;
    width:200%;
}

#bg td {
    text-align:center;
    vertical-align:middle;
}

#bg img {
    margin:0 auto;
    min-height:50%;
    min-width:50%;
}


* {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

div#outside_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#salon_italy {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5%;
    overflow: hidden;
}

div#salon_italy div#logo {
  width: 100%;
  position: relative;
}

div#salon_italy div#logo p {
  color:#800000;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}

div#salon_italy div#suppliers {
  width: 100%;
  height: 300px;
  position: relative;
}

div#salon_italy div#suppliers p {
  color:#FFFFFF;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

div#bottom {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 700px;
  padding: 0% 5% 0% 5%;
  overflow: hidden;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

div#bottom div#bottom_menu {
  width: 100%;
  height: 30px;
  border-bottom: 8px solid #800000;
  position: relative;
  text-align: left;
  padding-top: 8px;
  padding-left: 2px;
}

div#bottom div#bottom_menu span {
  flaot: left;
  color: #FFFFFF;
  margin-right: 10px;
  font-size: 14px;
}

div#bottom div#bottom_info {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 8px;
  float: left;
  color: #FFFFFF;
  border-bottom: 2px solid #800000;
  font-size: 12px;
  font-weight: normal;
}

div#bottom div#bottom_info table.left {
  text-align: left;
  float: left;
  padding-left: 2px;
}

div#bottom_info table.left td {
  padding-right: 10px;
}

div#bottom_info table.right {
  text-align: right;
  float: right;
  margin-right: 2px;
}

div#bottom_info table.right td.company {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

div#salon_italy a{
	text-decoration: none;
	color:#930006;
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
}

div#salon_italy p.kontakt{
	text-decoration: none;
	color:#930006;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

div#salon_italy p.link_til{
	text-decoration: none;
	color:#930006;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0px 0px 0px;
}

div#salon_italy p.landsdel{
	text-decoration: none;
	color:#930006;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0px 5px 0px;
}

div#salon_italy p.adresse{
	text-decoration: none;
	color:#E9E9E9;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	text-align: center;
	margin-top: 6px;
}

div#bottom a.mail_to{
	text-decoration: none;
	color:#E9E9E9;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	text-align: center;
	margin-top: 6px;
}

div#salon_italy p.opbygning{
	text-decoration: none;
	color:#E9E9E9;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 6px;
}

div#salon_italy a.link{
	text-decoration: none;
	color:#E9E9E9;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
}

div#salon_italy a.pdf_link{
	text-decoration: none;
	color:#E9E9E9;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
}


br {
	margin-bottom: 0px;
}
body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto; 
	margin-left: auto;
	text-align: center; 
	background-color:#000000;
	border:none;
/*	background-image: url(../images/baggrund.jpg);*/
	background-repeat: repeat-y;
	background-position: center;
}

a#salon_italy {
	color: #EF3C44;
	font-size: 11px;
	font-weight: normal;
	margin: 5px;
	text-align: left;
	text-decoration: none;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	text-align:left;
	line-height: 22px;
	color:#800000;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-size:12px;
	font-weight: normal;
	text-align:left;
	line-height: 15px;
	color:#800000;
	margin-top: 0px;
	margin-left: 2px;
}

table {
	margin-top: 0px;
	margin-bottom: 1em;
	border-spacing: 0px;
	border-collapse: collapse;
	/*border-top: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #999;*/
}

#forside_wrapper {
/*	border-bottom: 2px solid #EF3C44;*/
	padding-bottom: 5px;
	width: 570px;
	margin-right: auto; 
	margin-left: auto;
}

#forside_wrapper h1 {
	padding-left: 5px;
}

#forside_wrapper p {
	font-size:12px;
	font-weight: normal;
	text-align:left;
	line-height: 16px;
	color:#555;
	margin-top: 0px;
	margin-left: 2px;
	padding-left: 5px;
}

#forside_blog_wrapper {
	position: relative;
	text-align: left; 
	width: 570px;
	margin-top: 0px; 
	margin-right: auto; 
	margin-left: auto; 
	/*border-bottom: 1px solid #ececec;*/
	z-index: 1000;
	font-size:16px;
	font-weight:bold;	
}

#forside_blog_wrapper a.links {
	color: #7ABDDD;
	font-size: 11px;
	font-weight: normal;
	margin: 5px;
	text-align: left;
	text-decoration: none;
}

#forside_blog_wrapper div#tilbage {
	height: 30px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	
}

#forside_blog_wrapper div#tilbage a.links {
}

#forside_blog_wrapper .thumb a {
	color: #333333;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
}

#forside_blog_wrapper .thumb img {
	border: 1px solid #999;
	margin-left: 3px;
}

#forside_wrapper_streg {
	position: relative;  
	width: 600px;
	margin-top: 20px;
	margin-bottom: 20px; 
	margin-right: auto; 
	margin-left: auto;
	border-bottom: 1px solid #EF3C44;
	z-index: 1000;
}


#kontakt_tekst {
position:relative;
top: 10px;
margin-right: 20px; 
margin-left: auto;
text-transform: uppercase;
font-family: helvetica, arial, verdana, sans-serif;
color: white;
text-align: right;
letter-spacing: 3px;
font-weight: bold;
font-size:10px;
z-index:210;
}

#wrapper_background {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: auto; 
		margin-left: auto;
		height: auto;
		text-align: center; 
		background-color:#000;
		border:none;
		background-image: url(baggrund.jpg);
		background-repeat: repeat-y;
		background-position: center;
}

#bund_baggrund {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: auto; 
		margin-left: auto;
		height: auto;
		text-align: center; 
		background-color:#EF3C44;
		border:none;
		/*background-image: url(../images/baggrundsbund.jpg);*/
		background-repeat: none;
		background-position: center;
}

#wrapper_main {
	margin-right: auto; 
	margin-left: auto;
	text-align: left;
	width: 600px;
	/*height: 3000px;*/
	border: none;
	background-color:#fff;
}

#wrapper_main br {
	margin: 0px;
	height: 0px;
	padding: 0px;
}

#wrapper_main #top_foto{
	position: relative;
	text-align: left;
	left: 0px;
	height: 125px;
}

#wrapper_main #top_foto div#fb_linkedin {
	float: right;
	position: absolute;
	top: 94px;
	right: 9px;
}

#wrapper_main #top_foto #fb_linkedin a {
	text-decoration: none;
	border: none;
	float: right;
	margin-left: 6px;
}

#wrapper_main #top_foto #fb_linkedin a img {
	text-decoration: none;
	border: none;
}

#forside_foto {
	margin-right: auto; 
	margin-left: auto;
	margin-top: 25px;
	text-align: center; 
	border:none;
	width: 600px;
	height: 60px;
	background-image: url(ballon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3000;	
}

/* menu top */
#menu {
position:relative;
margin-bottom: 0;
margin-top: 0;
margin-right: auto; 
margin-left: auto;
border-bottom: 1px solid #EF3C44;
font-family: helvetica, arial, verdana, sans-serif;	
text-align: center;
letter-spacing: 3px;
font-weight: normal;
font-size:10px;
top: 0px;
left: 0px;
width: 600px;
z-index:210;
}

#menu ul {
margin: auto;
padding: 5px 0 5px 0;
list-style:none;
position: relative;
left: 0px;
}
#menu ul li {
display: inline;
color: #000;
}
#menu ul li.streg a {
margin: 0;
padding-left: 5px;
padding-right: 10px;
text-decoration:none;
vertical-align: top; /*Virker godt for Firefox.*/
border-right: 1px solid #EF3C44;
color: #000;
}
#menu ul li.uden_streg a{
margin: 0px;
padding-left: 5px;
padding-right: 5px;
text-decoration:none;
vertical-align: top; /*Virker godt for Firefox.*/
border: none;
color: #000;
}
#menu ul li a:hover {
color: #EF3C44;
text-decoration:none;
/*vertical-align: middle;*/ 
}
#menu ul li a:active{
color: #333;
text-decoration:none;
}
#menu ul .lodret {
margin: 0px;
padding-top: 0px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
position: relative;
top: -10px;
left: 0px;
}

#flashcontent {
position: relative;
top: 0px;
border-top: 1px solid #999999;
border-bottom: 1px solid #999999;
}
